#heading{
    font-size: 30px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
#task{
    display: inline;
    height: 100px;

}
#textarea{
    width: 70%;
    height: 100px;
}
#button1{
    margin-left: 20px;
}
#list{
    background-color: aqua;
}
#subcombo1{
    display: inline-block;
}
#tarea{
    margin-top: 10px;
    height: 50px;
    width: 300px;
}
#addbtn{
    height: 50px;
    width: auto;
}
#btn1{
    margin-left: 10px;
}